body {

}

h1{
    color: navy;
    margin-left: 20px;
    font-family: helvetica, sans-serif;
}

h2
{
    color:navy;
    margin-left:30px;
    font-family: helvetica, sans-serif
}

p {
    color:gray;
    font-family: helvetica, sans-serif;
}
